body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a1c9a0f8;
}

main {
  display: flex;
  gap: 150px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.border {
  display: flex;
  flex-wrap: wrap; 
  gap: 5px;
  height: 760px;
  width: 44vw;
  justify-content: center; 
  align-items: center; 
}

.every-square {
  height: 90px;
  width: 100px;
  background-color: #d3d3d3;  
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
  transition: all 0.2s ease-in;
}

.every-square:active {
  transform: scale(0.9);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
}

.every-square:hover {
  background-color: #bebebe;  
  
}

.buttons-and-text {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.back-button-container {
  align-self: flex-start;
}

.back-button, .again-button {
  height: 100px;
  width: 300px;
  font-size: 3rem;
  border-radius: 40px;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
  transition: all 0.2s ease-in-out;
}

.back-button:active, .again-button:active {
  transform: scale(0.9);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
}