<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="shortcut icon"
      href="/icons/minesweeper.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />

    <title>minesweeper</title>
  </head>
  <body>
    <header class="header">
      <h1 class="header-h1">
        <p class="header-text">Welcome to the minesweeper game</p>
        <p class="header-text">
          Please choose the complexity and press the button play
        </p>
      </h1>
    </header>
    <main class="main">
      <div class="comlaxity-play-conatainer">
        <div class="comlaxity-container">
          <div class="complaxity-div easy">
            <p>easy</p>
            <p>8x8 board</p>
            <p>10 bombs</p>
          </div>
          <div class="complaxity-div normal">
            <p>normal</p>
            <p>16x16 board</p>
            <p>40 bombs</p>
          </div>
          <div class="complaxity-div hard">
            <p>hard</p>
            <p>15x32 board</p>
            <p>100 bombs</p>
          </div>
        </div>
        <a href=""><button class="play-button">play</button></a>
      </div>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
