<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/easy.css" />
    <link
      rel="shortcut icon"
      href="/icons/minesweeper.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />

    <title>minesweeper</title>
  </head>
  <body class="easy">
    <main class="main">
      <div class="border">
        <div class="every-square 0i 0j"></div>
        <div class="every-square 0i 1j"></div>
        <div class="every-square 0i 2j"></div>
        <div class="every-square 0i 3j"></div>
        <div class="every-square 0i 4j"></div>
        <div class="every-square 0i 5j"></div>
        <div class="every-square 0i 6j"></div>
        <div class="every-square 0i 7j"></div>
        <div class="every-square 1i 0j"></div>
        <div class="every-square 1i 1j"></div>
        <div class="every-square 1i 2j"></div>
        <div class="every-square 1i 3j"></div>
        <div class="every-square 1i 4j"></div>
        <div class="every-square 1i 5j"></div>
        <div class="every-square 1i 6j"></div>
        <div class="every-square 1i 7j"></div>
        <div class="every-square 2i 0j"></div>
        <div class="every-square 2i 1j"></div>
        <div class="every-square 2i 2j"></div>
        <div class="every-square 2i 3j"></div>
        <div class="every-square 2i 4j"></div>
        <div class="every-square 2i 5j"></div>
        <div class="every-square 2i 6j"></div>
        <div class="every-square 2i 7j"></div>
        <div class="every-square 3i 0j"></div>
        <div class="every-square 3i 1j"></div>
        <div class="every-square 3i 2j"></div>
        <div class="every-square 3i 3j"></div>
        <div class="every-square 3i 4j"></div>
        <div class="every-square 3i 5j"></div>
        <div class="every-square 3i 6j"></div>
        <div class="every-square 3i 7j"></div>
        <div class="every-square 4i 0j"></div>
        <div class="every-square 4i 1j"></div>
        <div class="every-square 4i 2j"></div>
        <div class="every-square 4i 3j"></div>
        <div class="every-square 4i 4j"></div>
        <div class="every-square 4i 5j"></div>
        <div class="every-square 4i 6j"></div>
        <div class="every-square 4i 7j"></div>
        <div class="every-square 5i 0j"></div>
        <div class="every-square 5i 1j"></div>
        <div class="every-square 5i 2j"></div>
        <div class="every-square 5i 3j"></div>
        <div class="every-square 5i 4j"></div>
        <div class="every-square 5i 5j"></div>
        <div class="every-square 5i 6j"></div>
        <div class="every-square 5i 7j"></div>
        <div class="every-square 6i 0j"></div>
        <div class="every-square 6i 1j"></div>
        <div class="every-square 6i 2j"></div>
        <div class="every-square 6i 3j"></div>
        <div class="every-square 6i 4j"></div>
        <div class="every-square 6i 5j"></div>
        <div class="every-square 6i 6j"></div>
        <div class="every-square 6i 7j"></div>
        <div class="every-square 7i 0j"></div>
        <div class="every-square 7i 1j"></div>
        <div class="every-square 7i 2j"></div>
        <div class="every-square 7i 3j"></div>
        <div class="every-square 7i 4j"></div>
        <div class="every-square 7i 5j"></div>
        <div class="every-square 7i 6j"></div>
        <div class="every-square 7i 7j"></div>
      </div>
      <div class="buttons-and-text">
        <div class="back-button-container">
          <a href="/"><button class="back-button">Back</button></a>
        </div>
        <div class="again-button-container">
          <a href="/easy"
            ><button class="again-button">Play Again</button></a
          >
        </div>
      </div>
    </main>
    <script type="module" src="/js/game.js "></script>
  </body>
</html>
