<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/normal.css" />
    <link
      rel="shortcut icon"
      href="/icons/minesweeper.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />

    <title>minesweeper</title>
  </head>
  <body class="normal">
    <main class="main">
      <div class="border">
        <div class="every-square 0i 0j"></div>
        <div class="every-square 0i 1j"></div>
        <div class="every-square 0i 2j"></div>
        <div class="every-square 0i 3j"></div>
        <div class="every-square 0i 4j"></div>
        <div class="every-square 0i 5j"></div>
        <div class="every-square 0i 6j"></div>
        <div class="every-square 0i 7j"></div>
        <div class="every-square 0i 8j"></div>
        <div class="every-square 0i 9j"></div>
        <div class="every-square 0i 10j"></div>
        <div class="every-square 0i 11j"></div>
        <div class="every-square 0i 12j"></div>
        <div class="every-square 0i 13j"></div>
        <div class="every-square 0i 14j"></div>
        <div class="every-square 0i 15j"></div>
        <div class="every-square 1i 0j"></div>
        <div class="every-square 1i 1j"></div>
        <div class="every-square 1i 2j"></div>
        <div class="every-square 1i 3j"></div>
        <div class="every-square 1i 4j"></div>
        <div class="every-square 1i 5j"></div>
        <div class="every-square 1i 6j"></div>
        <div class="every-square 1i 7j"></div>
        <div class="every-square 1i 8j"></div>
        <div class="every-square 1i 9j"></div>
        <div class="every-square 1i 10j"></div>
        <div class="every-square 1i 11j"></div>
        <div class="every-square 1i 12j"></div>
        <div class="every-square 1i 13j"></div>
        <div class="every-square 1i 14j"></div>
        <div class="every-square 1i 15j"></div>
        <div class="every-square 2i 0j"></div>
        <div class="every-square 2i 1j"></div>
        <div class="every-square 2i 2j"></div>
        <div class="every-square 2i 3j"></div>
        <div class="every-square 2i 4j"></div>
        <div class="every-square 2i 5j"></div>
        <div class="every-square 2i 6j"></div>
        <div class="every-square 2i 7j"></div>
        <div class="every-square 2i 8j"></div>
        <div class="every-square 2i 9j"></div>
        <div class="every-square 2i 10j"></div>
        <div class="every-square 2i 11j"></div>
        <div class="every-square 2i 12j"></div>
        <div class="every-square 2i 13j"></div>
        <div class="every-square 2i 14j"></div>
        <div class="every-square 2i 15j"></div>
        <div class="every-square 3i 0j"></div>
        <div class="every-square 3i 1j"></div>
        <div class="every-square 3i 2j"></div>
        <div class="every-square 3i 3j"></div>
        <div class="every-square 3i 4j"></div>
        <div class="every-square 3i 5j"></div>
        <div class="every-square 3i 6j"></div>
        <div class="every-square 3i 7j"></div>
        <div class="every-square 3i 8j"></div>
        <div class="every-square 3i 9j"></div>
        <div class="every-square 3i 10j"></div>
        <div class="every-square 3i 11j"></div>
        <div class="every-square 3i 12j"></div>
        <div class="every-square 3i 13j"></div>
        <div class="every-square 3i 14j"></div>
        <div class="every-square 3i 15j"></div>
        <div class="every-square 4i 0j"></div>
        <div class="every-square 4i 1j"></div>
        <div class="every-square 4i 2j"></div>
        <div class="every-square 4i 3j"></div>
        <div class="every-square 4i 4j"></div>
        <div class="every-square 4i 5j"></div>
        <div class="every-square 4i 6j"></div>
        <div class="every-square 4i 7j"></div>
        <div class="every-square 4i 8j"></div>
        <div class="every-square 4i 9j"></div>
        <div class="every-square 4i 10j"></div>
        <div class="every-square 4i 11j"></div>
        <div class="every-square 4i 12j"></div>
        <div class="every-square 4i 13j"></div>
        <div class="every-square 4i 14j"></div>
        <div class="every-square 4i 15j"></div>
        <div class="every-square 5i 0j"></div>
        <div class="every-square 5i 1j"></div>
        <div class="every-square 5i 2j"></div>
        <div class="every-square 5i 3j"></div>
        <div class="every-square 5i 4j"></div>
        <div class="every-square 5i 5j"></div>
        <div class="every-square 5i 6j"></div>
        <div class="every-square 5i 7j"></div>
        <div class="every-square 5i 8j"></div>
        <div class="every-square 5i 9j"></div>
        <div class="every-square 5i 10j"></div>
        <div class="every-square 5i 11j"></div>
        <div class="every-square 5i 12j"></div>
        <div class="every-square 5i 13j"></div>
        <div class="every-square 5i 14j"></div>
        <div class="every-square 5i 15j"></div>
        <div class="every-square 6i 0j"></div>
        <div class="every-square 6i 1j"></div>
        <div class="every-square 6i 2j"></div>
        <div class="every-square 6i 3j"></div>
        <div class="every-square 6i 4j"></div>
        <div class="every-square 6i 5j"></div>
        <div class="every-square 6i 6j"></div>
        <div class="every-square 6i 7j"></div>
        <div class="every-square 6i 8j"></div>
        <div class="every-square 6i 9j"></div>
        <div class="every-square 6i 10j"></div>
        <div class="every-square 6i 11j"></div>
        <div class="every-square 6i 12j"></div>
        <div class="every-square 6i 13j"></div>
        <div class="every-square 6i 14j"></div>
        <div class="every-square 6i 15j"></div>
        <div class="every-square 7i 0j"></div>
        <div class="every-square 7i 1j"></div>
        <div class="every-square 7i 2j"></div>
        <div class="every-square 7i 3j"></div>
        <div class="every-square 7i 4j"></div>
        <div class="every-square 7i 5j"></div>
        <div class="every-square 7i 6j"></div>
        <div class="every-square 7i 7j"></div>
        <div class="every-square 7i 8j"></div>
        <div class="every-square 7i 9j"></div>
        <div class="every-square 7i 10j"></div>
        <div class="every-square 7i 11j"></div>
        <div class="every-square 7i 12j"></div>
        <div class="every-square 7i 13j"></div>
        <div class="every-square 7i 14j"></div>
        <div class="every-square 7i 15j"></div>
        <div class="every-square 8i 0j"></div>
        <div class="every-square 8i 1j"></div>
        <div class="every-square 8i 2j"></div>
        <div class="every-square 8i 3j"></div>
        <div class="every-square 8i 4j"></div>
        <div class="every-square 8i 5j"></div>
        <div class="every-square 8i 6j"></div>
        <div class="every-square 8i 7j"></div>
        <div class="every-square 8i 8j"></div>
        <div class="every-square 8i 9j"></div>
        <div class="every-square 8i 10j"></div>
        <div class="every-square 8i 11j"></div>
        <div class="every-square 8i 12j"></div>
        <div class="every-square 8i 13j"></div>
        <div class="every-square 8i 14j"></div>
        <div class="every-square 8i 15j"></div>
        <div class="every-square 9i 0j"></div>
        <div class="every-square 9i 1j"></div>
        <div class="every-square 9i 2j"></div>
        <div class="every-square 9i 3j"></div>
        <div class="every-square 9i 4j"></div>
        <div class="every-square 9i 5j"></div>
        <div class="every-square 9i 6j"></div>
        <div class="every-square 9i 7j"></div>
        <div class="every-square 9i 8j"></div>
        <div class="every-square 9i 9j"></div>
        <div class="every-square 9i 10j"></div>
        <div class="every-square 9i 11j"></div>
        <div class="every-square 9i 12j"></div>
        <div class="every-square 9i 13j"></div>
        <div class="every-square 9i 14j"></div>
        <div class="every-square 9i 15j"></div>
        <div class="every-square 10i 0j"></div>
        <div class="every-square 10i 1j"></div>
        <div class="every-square 10i 2j"></div>
        <div class="every-square 10i 3j"></div>
        <div class="every-square 10i 4j"></div>
        <div class="every-square 10i 5j"></div>
        <div class="every-square 10i 6j"></div>
        <div class="every-square 10i 7j"></div>
        <div class="every-square 10i 8j"></div>
        <div class="every-square 10i 9j"></div>
        <div class="every-square 10i 10j"></div>
        <div class="every-square 10i 11j"></div>
        <div class="every-square 10i 12j"></div>
        <div class="every-square 10i 13j"></div>
        <div class="every-square 10i 14j"></div>
        <div class="every-square 10i 15j"></div>
        <div class="every-square 11i 0j"></div>
        <div class="every-square 11i 1j"></div>
        <div class="every-square 11i 2j"></div>
        <div class="every-square 11i 3j"></div>
        <div class="every-square 11i 4j"></div>
        <div class="every-square 11i 5j"></div>
        <div class="every-square 11i 6j"></div>
        <div class="every-square 11i 7j"></div>
        <div class="every-square 11i 8j"></div>
        <div class="every-square 11i 9j"></div>
        <div class="every-square 11i 10j"></div>
        <div class="every-square 11i 11j"></div>
        <div class="every-square 11i 12j"></div>
        <div class="every-square 11i 13j"></div>
        <div class="every-square 11i 14j"></div>
        <div class="every-square 11i 15j"></div>
        <div class="every-square 12i 0j"></div>
        <div class="every-square 12i 1j"></div>
        <div class="every-square 12i 2j"></div>
        <div class="every-square 12i 3j"></div>
        <div class="every-square 12i 4j"></div>
        <div class="every-square 12i 5j"></div>
        <div class="every-square 12i 6j"></div>
        <div class="every-square 12i 7j"></div>
        <div class="every-square 12i 8j"></div>
        <div class="every-square 12i 9j"></div>
        <div class="every-square 12i 10j"></div>
        <div class="every-square 12i 11j"></div>
        <div class="every-square 12i 12j"></div>
        <div class="every-square 12i 13j"></div>
        <div class="every-square 12i 14j"></div>
        <div class="every-square 12i 15j"></div>
        <div class="every-square 13i 0j"></div>
        <div class="every-square 13i 1j"></div>
        <div class="every-square 13i 2j"></div>
        <div class="every-square 13i 3j"></div>
        <div class="every-square 13i 4j"></div>
        <div class="every-square 13i 5j"></div>
        <div class="every-square 13i 6j"></div>
        <div class="every-square 13i 7j"></div>
        <div class="every-square 13i 8j"></div>
        <div class="every-square 13i 9j"></div>
        <div class="every-square 13i 10j"></div>
        <div class="every-square 13i 11j"></div>
        <div class="every-square 13i 12j"></div>
        <div class="every-square 13i 13j"></div>
        <div class="every-square 13i 14j"></div>
        <div class="every-square 13i 15j"></div>
        <div class="every-square 14i 0j"></div>
        <div class="every-square 14i 1j"></div>
        <div class="every-square 14i 2j"></div>
        <div class="every-square 14i 3j"></div>
        <div class="every-square 14i 4j"></div>
        <div class="every-square 14i 5j"></div>
        <div class="every-square 14i 6j"></div>
        <div class="every-square 14i 7j"></div>
        <div class="every-square 14i 8j"></div>
        <div class="every-square 14i 9j"></div>
        <div class="every-square 14i 10j"></div>
        <div class="every-square 14i 11j"></div>
        <div class="every-square 14i 12j"></div>
        <div class="every-square 14i 13j"></div>
        <div class="every-square 14i 14j"></div>
        <div class="every-square 14i 15j"></div>
        <div class="every-square 15i 0j"></div>
        <div class="every-square 15i 1j"></div>
        <div class="every-square 15i 2j"></div>
        <div class="every-square 15i 3j"></div>
        <div class="every-square 15i 4j"></div>
        <div class="every-square 15i 5j"></div>
        <div class="every-square 15i 6j"></div>
        <div class="every-square 15i 7j"></div>
        <div class="every-square 15i 8j"></div>
        <div class="every-square 15i 9j"></div>
        <div class="every-square 15i 10j"></div>
        <div class="every-square 15i 11j"></div>
        <div class="every-square 15i 12j"></div>
        <div class="every-square 15i 13j"></div>
        <div class="every-square 15i 14j"></div>
        <div class="every-square 15i 15j"></div>
      </div>
      <div class="buttons-and-text">
        <div class="back-button-container">
          <a href="/"><button class="back-button">Back</button></a>
        </div>
        <div class="again-button-container">
          <a href="/normal"
            ><button class="again-button">Play Again</button></a
          >
        </div>
      </div>
    </main>
    <script type="module" src="/js/game.js "></script>
  </body>
</html>
